.hideable-hide {
  background-image: url('images/hide.png');
  float: right;
  padding-left: 16px;
  padding-top: 16px;
  cursor: pointer;
}
.hideable-show {
  background-image: url('images/show.png');
  float: right;
  padding-top: 16px;
  padding-left: 16px;
  cursor: pointer;
}

